{% if settings.show_logo %}
	{%- if settings.logo != blank -%}
	{%- assign logo_mobile_size = settings.header_mobile_logo_size | default: 'medium' -%}
	<a href="{{ routes.root_url }}" style="max-width:{{ settings.header_mobile_logo_width | append: "px" }};padding:0;"class="header-mobile__logo__image dib" title="{{ shop.name | escape }}">
		
        {%- comment -%}
        <img data-src="{{ settings.logo_mobile | img_url: '200x74' }}" alt="{{ settings.logo_mobile.alt | default: settings.logo.alt | default: shop.name | escape }}" class="img-responsive center-block lazyload"{% if settings.logo_mobile %} width="{{ settings.logo_mobile.width }}" height="{{ settings.logo_mobile.height }}"{% elsif settings.logo %} width="{{ settings.logo.width }}" height="{{ settings.logo.height }}"{% endif %} style="width:auto;" loading="lazy">
		<img data-src="{{ 'MOD_logo_svg.svg' | asset_url }}" alt="{{ settings.logo_mobile.alt | default: settings.logo.alt | default: shop.name | escape }}" class="img-responsive center-block lazyload"{% if settings.logo_mobile %} width="{{ settings.logo_mobile.width }}" height="{{ settings.logo_mobile.height }}"{% elsif settings.logo %} width="{{ settings.logo.width }}" height="{{ settings.logo.height }}"{% endif %} style="width:auto;" loading="lazy">
		{%- endcomment -%}
        
        <img src="https://cdn.shopify.com/s/files/1/0536/0513/8593/files/mod-new-logo-01.svg?v=1638284729" 
             alt="{{ settings.logo_mobile.alt | default: settings.logo.alt | default: shop.name | escape }}" 
             class="img-responsive center-block lazyload"
             width="{{ settings.logo_mobile.width }}" 
             height="{{ settings.logo_mobile.height }}"
             loading="lazy">
		
</a>
	{%- else -%}
		<a class="header-mobile__logo__link" href="{{ routes.root_url }}" title="{{ shop.name | escape }}">{{ shop.name }}</a>
	{%- endif -%}
{% else %}
<a class="header-mobile__logo__link" href="{{ routes.root_url }}" title="{{ shop.name | escape }}">{{ shop.name }}</a>
{% endif %}