
<div id="{{ section.id }}" class="whats-inside-section">
  <div class="main-headline">
    <div>WHAT’S INSIDE THE PACKAGE?</div>
  </div>
  <img class="lazyload divider" data-src="https://cdn.shopify.com/s/files/1/0536/0513/8593/files/Vector_7.jpg?v=1637646925"/>
  <div class="sub-headline">Every month we’ll surprise you<br>with unique items</div>
  
  <div class="items">
    
    <div class="item">
      <img src="https://cdn.shopify.com/s/files/1/0536/0513/8593/files/Mask_Group_2.jpg?v=1637647618"/>
      <div>Soft Canvas</div>
    </div>
    <div class="item reverse">
      <img src="https://cdn.shopify.com/s/files/1/0536/0513/8593/files/Mask_Group_3.jpg?v=1637648674"/>
      <div>Shimmering Diamonds</div>
    </div>
    <div class="item">
      <img src="https://cdn.shopify.com/s/files/1/0536/0513/8593/files/Mask_Group_4.jpg?v=1637648674"/>
      <div>Accessories</div>
    </div>
    <div class="item reverse">
      <img src="https://cdn.shopify.com/s/files/1/0536/0513/8593/files/Mask_Group_5.jpg?v=1637648674"/>
      <div>Perfect Quality Wax</div>
    </div>
  </div>
</div>

<style>

  #{{ section.id }} *{
  }
  
  #{{ section.id }} {
   	max-width: 1000px;
    text-align: center;
    
    margin-left: auto;
    margin-right: auto;
  }
  
  #{{ section.id }} .main-headline{
    font-style: normal;
    font-weight: bold;
    font-size: 32px;
    line-height: 50px;
    text-align: center;
    color: #245E8D;
    margin-top: 20px;
    max-width: 610px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #{{ section.id }} .divider{
   	margin-left: auto;
    margin-right: auto;
    max-width: 150px;
    width: 400px;
    min-width: 0px;
    margin-top: 20px;
    margin-bottom: 20px;
    display: block;
  }
  
  #{{ section.id }} .sub-headline{
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 30px;
    padding-left: 10px;
    padding-right: 10px;
    /* identical to box height, or 120% */

    text-align: center;
    text-transform: uppercase;

    color: #3D4246; 
    margin-bottom: 20px;
  }
  
  #{{ section.id }} .items{
    display: flex;
    flex-wrap: wrap;
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
  }
  
  #{{ section.id }} .item {
   	width: 50%; 
    padding: 10px;
  }
  
  #{{ section.id }} .item div {
	padding-top: 10px;
    font-size: 14px;
    
    text-transform: uppercase;
    font-weight: 500;
  }
  
  #{{ section.id }} .item img {
   	max-width: 100%;
  }
  
  
  @media only screen and (max-width: 768px){
    #{{ section.id }} .divider{
      width: 150px;
    }
    
    #{{ section.id }} .main-headline{
    	font-size: 24px;
      	line-height: 40px;
    }
    
    #{{ section.id }} .sub-headline{
     	font-size: 15px; 
      	padding-left: 15px;
      	padding-right: 15px;
    }

    
    #{{ section.id }} .item{
     	width: 100%; 
      	display: flex;
        flex-direction: row;
      	align-items: center;
      	padding-top: 0;
      	padding-bottom: 0;
    }
    
    #{{ section.id }} .item:not(:first-child) {
      margin-top: -30px;
    }
    
    #{{ section.id }} .item.reverse{
        flex-direction: row-reverse;
    }
    
    #{{ section.id }} .item img{
      	display: inline-block;
      	padding: 7%;
     	width: 60%; 
    }
    
    #{{ section.id }} .item div{
        text-align: center;
      	font-size: 14px;
      	padding-right: 10px;
    }
    
    
    #{{ section.id }} .item.reverse div{
        text-align: center;
     	padding-left: 10px;
    }
    
        
    #{{ section.id }} .item div{
     	width: 40%; 
      padding-top: 0;
    }
  }
      
</style>

{% schema %}
  {
    "name": "Product - What's Inside",
    "settings": [],
    "presets": [
      {
        "name": "Product - What's Inside",
        "category": "Text"
      }
    ]
  }
{% endschema %}
